html body {
  padding-bottom: 0%;
  margin-bottom: 0px;
  overflow: hidden;
  background: url('/images/london.png');
  background-color: #000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1080px), screen and (max-width: 480px) {
  html body {
      overflow-y: scroll;
  }
}

table#intro, header, #example1 h2 {
  background: rgba(7, 7, 7, 0.7);
  color: #444343;
}

* {cursor: none;}

.v, .h {
    background: #444343;
    z-index: 1;
    opacity: 0.5;
    position:absolute;
    pointer-events:none;
    top:0;
    left:0;
}
.v {
    height: 100%;
    width: 0.03em;
    margin-left:-2px;
    background: #444343;
}
.h {
    width: 100%;
    height: 0.03em;
    margin-top:-2px;
}

body a {
  text-decoration:none;
  color:#ccc;
  border-bottom: solid 1px #ccc;
  display:inline-block;
  font-family: 'Source Code Pro', ;
}

body p {
  font-size: 20px;
}

select:active, select:hover { outline: none }

select {
    padding:3px;
    margin: 0;
    background: rgba(7, 7, 7, 0.8);
    font-family: 'Source Code Pro', sans-serif;
    font-size: 24px;
    font-weight:200;
    line-height: 1.52;
    color:#404040;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}
option {
  background: rgba(7, 7, 7, 1);
}
label {position:relative}
label:after {
    content:'<>';
    font-family: 'OCR A Extended';
    color: #404040;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:0px; top:-3px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label.changed:after {
    color: #ccc;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

#sticky.stick {
    position: fixed;
    width: 25%;
    top: 0; right: 0; left: 0; margin: auto;
    z-index: 10000;
}

.drop-down-show-hide {
  position: relative;
  height: 100%;
  width: 100%;
}

.drop-down-show-hide iframe {
  margin-bottom: -4%;
}

.drop-down-show-hide #text p {
  opacity: 0.7;
  text-align: justify;
  position: absolute;
  top: 7%; right: 0; left: 0; margin: auto;
  background: rgba(0,0,0,0.5);
  color: #ccc;
  font-size: 0.6em;
  width: 18%;
  max-height: 48px;
  overflow: scroll;
}
