@font-face {
  font-family: 'OCR A Extended';
  src: url('/fonts/OCRAEXT.TTF');
}

::-webkit-scrollbar {
  display: none;
}

::-webkit-input-placeholder {
  color: #303030;
}

::selection {
  color: #0d0d0d; background: #c0c0c0;
}

figure {
-webkit-filter: grayscale(100%);
}

input, #error {
  border: 0px solid white;
  background: #0d0d0d;
  margin: 0 0 0 0;
  color: #404040;
  font-size: 24px;
  font-weight: 200;
  font-family: 'Source Code Pro', sans-serif;
  width: 90%;
  display: inline-block;
  line-height: 1.52;
}

input:focus {
  border: solid 0px #707070;
  outline: none;
}


#example1 {
      position:relative; display: inline-block;
    }

#div1, #div2 {
  font-size: 24px; font-weight:200; line-height: 1.52; color: #404040; display: block; font-family: 'Source Code Pro', sans-serif; text-align: justify; float:left;
    }

body {
  background-color: #0d0d0d;
  text-rendering: optimizeLegibility;
  padding: 3%;
}

body p {
  font-size: 24px;
  font-weight:200;
  line-height: 1.52;
  color: #404040;
  display: inline-block;
  font-family: 'Source Code Pro', sans-serif;
  text-align: justify;
}

body a {
  text-decoration:none;
  color:#404040;
  border-bottom: solid 1px #303030;
  display:inline-block;
  font-family: 'Source Code Pro', ;
}

body a:after {
  color: #b8b8b8;
  display:block;
  content: '';
  border-bottom: solid 1px #b8b8b8;
  transform: scaleX(0.0001);
  transition: transform 250ms ease-in-out;
}

body a:hover:after {
  transform: scaleX(1);
  color: #b8b8b8;
}

body a:hover {
  color: #b8b8b8;
}

svg.datamap {
  height: 650px;
  width: 600px;
  float:right;
  cursor: crosshair;
}

#world {
  fill-opacity:0.7;
  border:0px solid #ccc;
  width:600px;
  height:100%;
  position: relative;
  float: right;
  margin-top: -140px;
}

#worldcontainer {
  width:600px;
  height:100%;
  padding:3em;
  float: right;
}

#worldcontainer p {
   font-size:24px;
   text-align:right;
   font-family: 'OCR A Extended';
}

blockquote {
  font-size: 1.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  font-weight: 400;
  color: #404040;
  font-family: 'OCR A Extended';
  text-align:justify;
}

pre {
  font-size: 24px;
  font-weight:400;
  line-height: 1.52;
  background: #101010;
  color: #c0c0c0;
  display: inline-block;
  font-family: 'Source Code Pro', sans-serif;
  padding: 1em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: 100%;
  white-space: pre-wrap;
}

.blink {
  -webkit-animation-name: blink-anim;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
  -webkit-animation-duration: 0.45s;
}

@-webkit-keyframes blink-anim {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

h1 {
  font-size: 3.0em;
  font-weight: 400;
  color: #404040;
  font-family: 'OCR A Extended';
  text-align:justify;
}

h2 {
   font-size: 1.5em;
   font-weight: 400;
   color: #404040;
   font-family: 'OCR A Extended';
   text-align:justify;
}

h3 {
  font-size: 0.25em;
  margin-bottom: 0.4em;
  color: #404040;
  font-family: 'Source Code Pro', sans-serif;
  width:92%;
  text-align:justify;
}

ul {
    list-style-type: none;
}

li {
  font-size: 24px;
  font-weight:200;
  line-height: 1.52;
  font-family: 'OCR A Extended';
  padding: 1em;
  color:#404040;
  text-align:justify;
  width:80%;
}

hr {
  border: 0;
  border-top: 1px solid #303030;
  margin: 10px 0px 10px -10px;
  width:93%;
  height: 0;
}

sup {
  vertical-align: super;
  font-size: 1em;
  color: #404040;
  font-weight: 200;
  font-family: 'Source Code Pro', sans-serif;
}

header {
  margin: 0em 0em 0em;
  font-size: 24px;
  font-weight:200;
  line-height: 1.52;
  color: #404040;
  display: block;
  font-family: 'Source Code Pro', sans-serif;
}

.header a, .header a:hover, .header a:after, .header a:hover:after {
  text-decoration: none;
  color: #c0c0c0;
  border-bottom: 0px;
  letter-spacing: 1px;
}

.datamap path.datamaps-graticule {
  pointer-events: all;
}

.datamap path.datamaps-subunit {
  pointer-events: all;
}

@media (max-width: 690px) {
  h1 {
    font-size: 1.5em;
  }
}

.cmd {
  animation: noise-3 .5s linear;
  }

.info {
    animation: noise-0 .1s linear infinite;
  }
.info1 {
    animation: noise-1 .2s linear infinite;
  }
.info2 {
    animation: noise-2 .2s linear infinite;
  }
.info3 {
    animation: noise-3 1s linear infinite;
  }
.info4 {
    animation: noise-4 1s linear infinite;
  }
.info5 {
  text-align: left;
  width: 100%;
  height: 100%;
  line-height: .7em;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  animation: noise-1 .1s linear infinite;
  z-index: 0;
}

@keyframes noise-0 {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleX(1);}
  4.3% {opacity: .2; transform: scaleY(1.5);}
  43% {opacity: .6; transform: scaleX(1.3);}
 }

@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -1px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 100% {opacity: .6;}
  10% {opacity: .9;}
  50% {opacity: .8; left: 6px;}
  80% {opacity: .9;}
  100% {opacity: .8; left: -2px;}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: .3; transform: scaleX(3) rotate(8deg);}
}

@keyframes noise-4 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleX(1);}
  4.3% {opacity: 1; transform: scaleY(1);}
  43% {opacity: .3; transform: scaleX(0) rotate(0deg);}
 }
