html body {
  padding-bottom: 0%;
  margin-bottom: 0px;
  overflow-y: scroll;
  background-color: #0d0d0d;
  background: url('/images/octree2.png');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

div#intro p, header, #example1 h2 {
  background: rgba(7, 7, 7, 0.5);
  color: #444343;
}

body p {
  font-size: 18px;
}

#text a {
  text-decoration:none;
  color:#ccc;
  border-bottom: solid 1px #ccc;
  display:inline-block;
  font-family: 'Source Code Pro', ;
}

pre {
  font-size: 12px;
  line-height: 1.2;
  background: rgba(7,7,7,0.6);
  color: #505050;
  display: block;
  font-family: 'Source Code Pro', sans-serif;
  white-space: pre-wrap;
  width: 98%;
}

#box {
  width: 100%;
  height: 248px;
  border: 1px solid #303030;
}

select:active, select:hover {  outline: none }

select {
    padding:3px;
    margin: 0;
    background: rgba(7, 7, 7, 0.8);
    font-family: 'Source Code Pro', sans-serif;
    font-size: 24px;
    font-weight:200;
    line-height: 1.52;
    color:#404040;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
}
option {
  background: rgba(7, 7, 7, 1);
}
label {position:relative}
label:after {
    content:'<>';
    font-family: 'OCR A Extended';
    color: #404040;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:0px; top:-3px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label.changed:after {
    color: #ccc;
}
label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
}

#sticky.stick {
    position: fixed;
    width: 25%;
    top: 0; right: 0; left: 0; margin: auto;
    z-index: 10000;
}
#octree {
  top: 0; left: -4%; margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

#octree #text p {
  opacity: 0.7;
  text-align: justify;
  position: absolute;
  top: 7%; right: 0; left: 10%; margin: auto;
  color: #ccc;
  font-size: 0.6em;
  width: 289px;
  height: 29px;
  overflow: scroll;
}
#tied, #smash {
  position: relative;
  height: 100%;
  width: 100%;
}

#tied iframe, #smash iframe {
  margin-bottom: -4%;
}

#tied #text p, #smash #text p {
  opacity: 0.7;
  text-align: justify;
  position: absolute;
  top: 7%; right: 0; left: 0; margin: auto;
  color: #ccc;
  font-size: 0.6em;
  width: 289px;
  height: 45px;
  overflow: scroll;
}
