		::-webkit-scrollbar {
		  display: none;
		}
		/* fix double style of selecting text in terminal */
		
		.terminal-output span,
		.terminal-output a,
		.cmd div,
		.cmd span,
		.terminal td,
		.terminal pre,
		.terminal h1,
		.terminal h2,
		.terminal h3,
		.terminal h4,
		.terminal h5,
		.terminal h6 {
		  -webkit-touch-callout: initial;
		  -webkit-user-select: initial;
		  -khtml-user-select: initial;
		  -moz-user-select: initial;
		  -ms-user-select: initial;
		  user-select: initial;
		}
		
		.terminal,
		.terminal-output,
		.terminal-output div {
		  -webkit-touch-callout: initial;
		  -webkit-user-select: initial;
		  -khtml-user-select: initial;
		  -moz-user-select: initial;
		  -ms-user-select: initial;
		  user-select: initial;
		}
		/* firefox hack */
		
		@-moz-document url-prefix() {
		  .terminal,
		  .terminal-output,
		  .terminal-output div {
		    -webkit-touch-callout: initial;
		    -webkit-user-select: initial;
		    -khtml-user-select: initial;
		    -moz-user-select: initial;
		    -ms-user-select: initial;
		    user-select: initial;
		  }
		}
		
		p {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 12px;
		  line-height: 14px;
		  text-rendering: optimizeLegibility;
		}
		
		li {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 12px;
		  line-height: 14px;
		  text-rendering: optimizeLegibility;
		}
		
		ul {
		  list-style-type: none;
		}
		
		li:before {
		  content: '> '
		}
		
		body {
		  background-color: #000;
		}
		
		body p {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 12px;
		  line-height: 14px;
		  text-rendering: optimizeLegibility;
		}
		
		body a {
		  text-decoration: none;
		  color: #aaa;
		  font-family: monospace;
		}
		
		body a:before {
		  color: #aaa;
		  content: '<a href="';
		}
		
		body a:after {
		  color: #aaa;
		  content: '">';
		}
		
		sup a:before,
		footer a:before {
		  color: #aaa;
		  content: '';
		}
		
		sup a:after,
		footer a:after {
		  color: #aaa;
		  content: '';
		}
		
		h1 {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 36px;
		  line-height: 36px;
		  text-rendering: optimizeLegibility;
		}
		
		h2 {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 24px;
		  line-height: 24px;
		  text-rendering: optimizeLegibility;
		}
		
		hr {
		  border: 0;
		  border-top: 1px solid #aaa;
		  height: 0;
		}
		
		pre {
		  font-family: monospace;
		  color: #aaa;
		  margin-left: 50px;
		  font-size: 14px;
		  line-height: 16px;
		  white-space: pre-wrap;
		  text-rendering: optimizeLegibility;
		}
		
		pre code,
		pre .line-number {
		  /* Ukuran line-height antara teks di dalam tag <code> dan <span class="line-number"> harus sama! */
		  font: normal normal 12px/14px "Courier New", Courier, Monospace;
		  color: #aaa;
		  display: block;
		}
		
		pre .line-number {
		  float: left;
		  margin: 0 1em 0 -1em;
		  border-right: 1px solid;
		  text-align: right;
		}
		
		pre .line-number span {
		  display: block;
		  padding: 0 .5em 0 1em;
		}
		
		pre .cl {
		  display: block;
		  clear: both;
		}
		
		blockquote {
		  font-family: monospace;
		  text-align: justify;
		  color: #aaa;
		  font-size: 18px;
		  padding: 5px;
		  text-rendering: optimizeLegibility;
		}
		
		svg.datamap {
		  height: 600px;
		  width: 600px;
		  cursor: crosshair;
		}
		
		.datamap path.datamaps-graticule {
		  pointer-events: all;
		}
		
		.datamap path.datamaps-subunit {
		  pointer-events: all;
		}