/* @import url(http://fonts.googleapis.com/css?family=Gilda+Display); */

html {
  background: #000;
  color: #7e7e7e;
  overflow: hidden;
  height: 100%;
  user-select: none;
  
}
.container {
  font-size: 35px;
  line-height: 1.3;
  width: 960px;
  height: auto;
  margin: 50px auto 0;
  font-family: 'Cantarell', sans-serif;
}
.info5 {
  font-family: 'Gilda Display', serif;
  font-size: 100px;
  font-style: italic;
  text-align: left;
  width: 100%;
  height: 100%;
  line-height: .7em;
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  animation: noise-1 .1s linear infinite;
  z-index: 0;
}
.info {
  font-family: 'Gilda Display', serif;
  font-style: italic;
  text-align: center;
  margin: auto;
  animation: noise .1s linear infinite;
}
.info1 {
  font-family: 'Gilda Display', serif;
  font-style: italic;
  text-align: left;
  margin: auto;
  animation: noise-1 .2s linear infinite;
}
.info2 {
  font-family: 'Gilda Display', serif;
  font-style: italic;
  text-align: left;
  margin: auto;
  animation: noise-2 .2s linear infinite;
}
.info3 {
  font-family: 'Gilda Display', serif;
  font-style: italic;
  text-align: left;
  margin: auto;
  animation: noise-3 1s linear infinite;
}
.info4 {
  font-family: 'Gilda Display', serif;
  font-style: italic;
  text-align: left;
  margin: auto;
  animation: noise-4 1s linear infinite;
}


@keyframes noise-1 {
  0%, 20%, 40%, 60%, 70%, 90% {opacity: 0;}
  10% {opacity: .1;}
  50% {opacity: .5; left: -1px;}
  80% {opacity: .3;}
  100% {opacity: .6; left: 2px;}
}

@keyframes noise-2 {
  0%, 20%, 40%, 60%, 70%, 100% {opacity: .6;}
  10% {opacity: .9;}
  50% {opacity: .8; left: 6px;}
  80% {opacity: .9;}
  100% {opacity: .8; left: -2px;}
}

@keyframes noise {
  0%, 3%, 5%, 42%, 44%, 100% {opacity: 1; transform: scaleX(1);}  
  4.3% {opacity: .2; transform: scaleY(1.5);}
  43% {opacity: .6; transform: scaleX(1.3);}
}

@keyframes noise-3 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
  4.3% {opacity: 1; transform: scaleY(4);}
  43% {opacity: .3; transform: scaleX(3) rotate(8deg);}
}

@keyframes noise-4 {
  0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleX(1);}
  4.3% {opacity: 1; transform: scaleY(1);}
  43% {opacity: .3; transform: scaleX(0) rotate(0deg);}
}	