a { text-decoration:none;}

body {
  background-color:#000000;
}


#wrapper {
    background:#rgb(0.0.0.0);
    width:30.5%; height:80%;
    margin-top:50%;
    margin:0 auto;
    border:0px solid blue;
    position:relative;
    z-index:-999999999999999;
}

.header {
    margin-top:-1%;
    margin-left:5%;
    position:fixed;
    z-index:999999999999999;
}

.header a {
  font-family: 'Sarpanch', sans-serif;
  font-size:16px;
  color:#f8f8f8;
}

.footer {
  top:95%;
  left:95%;
  position: fixed;
}
.footer a {
  color:#707070;
  opacity:0.8;
  font-size:28px;
}

.r1, .r2, .r3 {
	width: 185px;
	height: 60px;
    font-family:'Sarpanch', sans-serif;
    font-size:18px;
    margin:0px auto;
    margin-top:10%;
    margin-left:0%;
    position:relative;
    padding:10px;
	border:1px solid #808080;
    border-top:0px solid #808080;
    background:#808080;
}

.p1, .p2, .p3 {
	width: 188px;
	height: 15px;
    margin-left:-2px;
    margin-top:-25px;
    position:relative;
	border:0px solid red;
    border-bottom:0px solid #808080;
    border-left:0px solid #808080;
	-webkit-transform: skew(50deg);
	   -moz-transform: skew(50deg);
	     -o-transform: skew(50deg);
     background:#cccccc;
}
.c1, .c2, .c3 {
	width: 170px;
	height: 15px;
    margin-left:-11px;
    margin-top:-15px;
    padding:10px;
    position:relative;
	border-left:1px solid #808080;
    border-top:0px solid #808080;
    border-bottom:0px dotted #808080;
    border-right:0px solid #808080;
    background:#808080;
}


.top, .bottom {
	position: fixed;
    opacity:1;
	}
		
	.top, .bottom {
		left: -250;
		height: 4%; width:10.5%;
        margin:0 auto;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }

#sub {
	display: inline-block;
	margin-left:15px;
	width:15px;
	height:7px;
	border-left:1px dotted gray;
	border-bottom:1px dotted gray;
	border-right:0px dotted gray;
	border-top:0px dotted gray;
	}
	
#f {
	vertical-align:top; display: inline-block;
}
