a { text-decoration:none };
body { background-color: gray;}

p { font-color:#000000; }

.top, .bottom {
	background: #000000;
	position: fixed;
	}
		
	.top, .bottom {
		left: 0; right: 0;
		height: 6%;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }
		
@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom { display: inline; }
}
