a { text-decoration:none;}
a:visited {text-decoration:none; color: #333333};
body { background-color: gray;}


#wrapper {
    border: 0px solid blue;
}

#sub {
	display: inline-block;
	margin-left:15px;
	width:15px;
	height:7px;
	border-left:1px dotted gray;
	border-bottom:1px dotted gray;
	border-right:0px dotted gray;
	border-top:0px dotted gray;
	}
	
#f {
	vertical-align:top; display: inline-block;
}

.top, .bottom {
	background: #000000;
	position: fixed;
	}
		
	.top, .bottom {
		left: 0; right: 0;
		height: 6%;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }
		
.rectangle {
	width: 200px;
	height: 100px;
	background: #505456;
	margin-top:50px;
	position:fixed;
}

.parallelogramb {
	width: 200px;
	height: 15px;
	-webkit-transform: skew(25deg);
	   -moz-transform: skew(25deg);
	     -o-transform: skew(25deg);
	background: #aca4ac;
	position:fixed;
	margin-top:165px;
}
.parallelogramr {
	width: 15px;
	height: 110px;
	-webkit-transform: skewY(25deg);
	   -moz-transform: skewY(25deg);
	     -o-transform: skewY(25deg);
	background: #6d6c6d;
	position:fixed;
	margin-top:42px;
	margin-left:25px;
}
