a { text-decoration:none };
body { background-color: gray;}

p { font-color:#000000; }

#wrapper {
    border: 0px solid blue;
}

.top, .bottom {
	background: #000000;
	position: fixed;
	}
		
	.top, .bottom {
		left: 0; right: 0;
		height: 6%;
		}
		.top { top: 0; }
		.bottom { bottom: 0; }
